# Dependencias
node_modules/
jspm_packages/

# Build / Dist / coverage
dist/
build/
coverage/

# Variables de entorno
.env

# Editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Temporales del SO
*.tmp
*.temp
